@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  margin: 0%;
  padding: 0%;
 box-sizing: border-box;
}
.first-form{
padding: 10%;
width: 230px;
}
form{
  border:solid;
  color: #FF8C00;
  padding: 7px;
  width: 150%;
  font-family: 'Roboto', sans-serif;
}
form h1{
  text-align: center;
  color: Black;
  font-family: 'Roboto', sans-serif;
}
#r_button{
  color: black;
  display: flex;
  margin: 0%;
  padding-right: 18%;
  padding-left: 18%;
  text: 10px;

}
#r_button label{
  margin-left: 5%;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
#r_button input{
  margin-left: 5%;
}

div.elem-group {
  margin: 20px 0;
}

div.elem-groups1.inlined {
  width: 49%;
  display: inline-block;
  float: left;
  margin-left: 1%;
  font-family: 'Roboto', sans-serif;
}
input, select{
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  width: 100%;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

div.elem-groups.inlined input {
  width: 20%;
  display: inline-block;
}
hr {
  border: 1px dotted #ccc;
}

button {

  padding-left: 5;
  height: 50px;
  background: #FFD700;
  width: 100%;
  border: none;
  color: white;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  border-radius: 4px;
  cursor: pointer;
  margin-top:20px;
  font-family: 'Roboto', sans-serif;
}

button:hover {
  border: 2px solid black;
}
.elem-groups{
  width: 49%;
  display: inline-block;
  float: left;
  margin-left: 1%;
}
.elem-groups1{
  padding-top: 5%;
  width: 49%;
  display: inline-block;
  float: left;
  margin-left: 1%;
  font-family: 'Roboto', sans-serif;
}
.elem-groups12{
  padding-top: 5%;
  width: 32%;
  display: inline-block;
  float: left;
  margin-left: 1%;
  font-family: 'Roboto', sans-serif;
}
@media screen and (max-width 600px){
  form{
    border:solid;
    color: #FF8C00;
    padding: 7px;
    width: 200%;
    font-family: 'Roboto', sans-serif;
  }
  .first-form{
   width: 10px;
   justify-content: center;

  }
}
